:root {
  --dark-theme-bg-color: #020202;
  --dark-theme-font-color: #cccccc;
  --dark-theme-bg-color-hov: #333333;
  --dark-theme-font-color-hov: #ffffff;
  --dark-theme-bg-color-2: #1e1f24;
  --dark-theme-bg-color-3: #191a1f;
  --dark-theme-bg-color-4: #121212;
  --active-file: #33ff33;
}

* {
  box-sizing: border-box;
  font-family: sans-serif, monospace;
  font-size: 14px;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
}

#root,
#root > div,
.container-main {
  height: 100%;
}

.theme-dark {
  background-color: var(--dark-theme-bg-color);
  color: var(--dark-theme-font-color);
}

.main-window {
  height: 100%;
  display: grid;
  grid-template-rows: 30px;
  grid-auto-rows: 1fr;
  gap: 5px;
}

.btn-icon,
.btn-icon-small,
.btn-icon-large {
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--dark-theme-font-color);
  outline: none;
}

span.btn-icon,
span.btn-icon-small,
span.btn-ico-large {
  padding: 0 10px;
}

.btn-icon i {
  font-size: 16px;
}

.btn-icon-large i {
  font-size: 26px;
}

.btn-icon-small i {
  font-size: 14px;
}

.close-btn {
  color: #999999;
}

.logo-small {
  color: #4dabf7;
  display: inline;
  margin: 0 5px;
}
/* ------------------------------- */
/* menu bar */

.menubar-top {
  display: grid;
  grid-template-columns: 40% 20% 40%;
}

.menubar-items ul,
.menubar-commands ul {
  padding: 0;
  margin: 0;
  list-style: none;
  flex-flow: row wrap;
  height: 100%;
  align-items: center;
}

.menubar-items ul {
  display: inline-flex;
}

.menubar-commands ul {
  display: flex;
  justify-content: flex-end;
}

.menubar-items li,
.menubar-commands li {
  padding: 8px;
  cursor: pointer;
  height: 100%;
}

.menubar-items li:hover,
.menubar-commands li:hover {
  background-color: var(--dark-theme-bg-color-hov);
  color: var(--dark-theme-font-color-hov);
}

.menubar-commands li.command-exit:hover {
  background-color: #ff4d4d;
}

.menubar-title {
  justify-content: center;
  display: flex;
  align-items: center;
}
/* ------------------------------- */
/* container */

.container {
  display: grid;
  grid-template-columns: 60px 250px 1fr;
}

/* ------------------------------- */
/* toolbar */

.toolbar-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark-theme-bg-color-2);
}

.toolbar-left ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.toolbar-left li {
  padding: 8px;
  margin: 5px 0;
  text-align: center;
}

.toolbar-left .btn-icon-large:hover {
  color: white;
}
/* ------------------------------- */
/* editors */
.explorer {
  background-color: var(--dark-theme-bg-color-3);
}

.editor-list {
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  height: auto;
}

.collapsed-edtior {
  max-height: 0;
}

.editor-label {
  user-select: none;
  cursor: pointer;
  padding: 10px 0 0 3px;
  font-size: 13px;
  font-weight: 700;
}

.list-editors {
  list-style: none;
  padding: 0;
}

.list-editors li {
  padding: 5px 15px;
  cursor: pointer;

  display: grid;
  grid-template-columns: 20px 15px 1fr;
  grid-gap: 5px;
}

.list-editors li:hover {
  background-color: var(--dark-theme-bg-color);
}

.list-editors li .file-icon {
  grid-column-start: 2;
}

.list-editors .close-btn {
  visibility: hidden;
}

.list-editors li:hover .close-btn {
  visibility: visible;
}

.list-editors .active-file {
  color: var(--active-file);
}
/* ------------------------------- */
/* editor */

.editor-frame {
  background-color: var(--dark-theme-bg-color-4);
  display: grid;
  grid-template-rows: 25px;
  grid-auto-rows: 1fr;
}

.editor-picker {
  background-color: var(--dark-theme-bg-color-2);
}

.editor-picker-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
  align-items: center;
}

.editor-picker-list li {
  padding: 0 15px;
  border: 2px solid var(--dark-theme-bg-color);
  border-width: 0 1px 0 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
}

.editor-picker-list li:hover,
.editor-picker-list .active-file {
  background-color: var(--dark-theme-bg-color);
}

.editor-picker-list .close-btn {
  margin-left: 5px;
  visibility: hidden;
}

.editor-picker-list li:hover .close-btn {
  visibility: visible;
}
